<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>
<h2>Links without Parameters and Path Variables</h2>
<ol>
    <li>
        <a href="Hello.html" th:href="@{Hello}">Hello</a>
    </li>
    <li>
        <a href="Input.html" th:href="@{Input}">Input</a>
    </li>
</ol>
<h2>Request Parameters in Links</h2>
<h3>One Request Parameter</h3>
<ul>
    <li>
        <a href="Hello.html" th:href="@{Hello(name='Jeff')}">Hello Jeff</a>
    </li>
    <li>
        <a href="Hello.html" th:href="@{Hello(name='Bart Simpson')}">Hello Bart Simpson</a>
    </li>
</ul>
<h3>Two Request Parameters</h3>
<ul>
    <li>
        <a href="Output.html" th:href="@{Output(firstName='Bart', lastName='Simpson')}">
            Bart Simpson
        </a>
    </li>
    <li>
        <a href="Output.html" th:href="@{Output(firstName='Lisa', lastName='Simpson')}">
            Lisa Simpson
        </a>
    </li>
</ul>
</body>
</html>